---
- name: Prepare
  hosts: all
  gather_facts: false
  tasks:
    - name: Wait for WinRM
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: Gather facts
      ansible.builtin.setup:
