Vagrant.configure("2") do |config|
{% for platform in molecule_yml.platforms %}
  config.vm.define "{{ platform.name }}" do |node|
    node.vm.box = "{{ platform.box }}"
    node.vm.hostname = "{{ platform.name }}"

    node.vm.provider :libvirt do |libvirt|
      libvirt.memory = {{ platform.memory | default(4096) }}
      libvirt.cpus = {{ platform.cpus | default(2) }}
      libvirt.video_type = "virtio"
    end

    node.vm.communicator = "winrm"
    node.winrm.username = "vagrant"
    node.winrm.password = "vagrant"
    node.winrm.transport = :plaintext
    node.winrm.basic_auth_only = true
    node.winrm.port = 5985
    node.winrm.ssl = false
  end
{% endfor %}
end
