---
- name: Update CA trust
  ansible.builtin.command: update-ca-trust
  changed_when: true

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Check if docker service exists
  ansible.builtin.command: systemctl cat docker
  register: _docker_service_check
  changed_when: false
  failed_when: false
  listen: Restart docker

- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
  when: _docker_service_check.rc == 0
