---
- name: Download CA certificate
  ansible.builtin.get_url:
    url: "{{ base_server_ca_cert_url }}"
    dest: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}"
    owner: root
    group: root
    mode: "0644"
  when: base_server_ca_cert_url | length > 0
  notify: Update CA trust

- name: Configure CA bundle environment variables
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
  loop:
    - { key: "AWS_CA_BUNDLE", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
    - { key: "PIP_CERT", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
    - { key: "REQUESTS_CA_BUNDLE", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
    - { key: "CURL_CA_BUNDLE", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
    - { key: "GIT_SSL_CAINFO", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
    - { key: "SSL_CERT_FILE", value: "/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}" }
  when: base_server_ca_cert_url | length > 0

- name: Remove CA bundle environment variables when not needed
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: "^{{ item }}="
    state: absent
  loop:
    - AWS_CA_BUNDLE
    - PIP_CERT
    - REQUESTS_CA_BUNDLE
    - CURL_CA_BUNDLE
    - GIT_SSL_CAINFO
    - SSL_CERT_FILE
  when: base_server_ca_cert_url | length == 0
  