# {{ ansible_managed }}
---
data_dir: {{ vector_data_dir }}

{% set _has_sources = vector_sources_journald_enabled or vector_sources_docker_enabled or (vector_sources_files | length > 0) or (vector_sources_extra | length > 0) %}
{% if _has_sources %}
sources:
{% if vector_sources_journald_enabled %}
  journald:
    type: journald
{% if vector_sources_journald_units | length > 0 %}
    units:
{% for unit in vector_sources_journald_units %}
      - {{ unit }}
{% endfor %}
{% endif %}
{% endif %}

{% if vector_sources_docker_enabled %}
  docker:
    type: docker_logs
{% endif %}

{% for file_source in vector_sources_files %}
  {{ file_source.name }}:
    type: file
    include:
{% for path in file_source.include %}
      - {{ path }}
{% endfor %}
{% if file_source.exclude is defined and file_source.exclude | length > 0 %}
    exclude:
{% for path in file_source.exclude %}
      - {{ path }}
{% endfor %}
{% endif %}
{% endfor %}

{% if vector_sources_extra | length > 0 %}
{{ vector_sources_extra | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}
{% endif %}

{% if vector_transforms | length > 0 %}
transforms:
{{ vector_transforms | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}

{% if vector_sinks | length > 0 %}
sinks:
{{ vector_sinks | to_nice_yaml(indent=2) | indent(2, first=true) }}
{% endif %}

{% if vector_config_extra | length > 0 %}
{{ vector_config_extra | to_nice_yaml(indent=2) }}
{% endif %}
