http_proxy={{ base_server_http_proxy }}
https_proxy={{ base_server_https_proxy }}
no_proxy={{ base_server_no_proxy }}
HTTP_PROXY={{ base_server_http_proxy }}
HTTPS_PROXY={{ base_server_https_proxy }}
NO_PROXY={{ base_server_no_proxy }}
ALL_PROXY={{ base_server_http_proxy }}
# TODO: Consider using /etc/pki/tls/certs/ca-bundle.crt instead of the individual cert.
# Pointing to the single custom CA file means these tools will only trust that CA,
# rejecting standard public CAs. The system bundle includes all trusted CAs.
{% if base_server_ca_cert_url | length > 0 %}
# AWS CLI / SDKs
AWS_CA_BUNDLE=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
# Python pip
PIP_CERT=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
# Python requests library
REQUESTS_CA_BUNDLE=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
# curl
CURL_CA_BUNDLE=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
# Git
GIT_SSL_CAINFO=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
# OpenSSL / Go / general
SSL_CERT_FILE=/etc/pki/ca-trust/source/anchors/{{ base_server_ca_cert_filename }}
{% endif %}
